* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary color and shades */
  --background-gray: rgb(60, 60, 60);
  --drak-gray: rgb(41, 41, 41);
  /* secondary color and shades */
  --background-green: rgb(50, 131, 66);
  --font-green: rgb(98, 252, 160);
  --font-light-green: rgb(208, 255, 226);
  /* tertiary color and shades */
  --cream: rgb(207, 201, 175);
  --light-cream: rgb(215, 214, 205);
  /* navbar height */
  --nav-height: 70px;
}

body {
  min-height: 100svh;
}
html {
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
  background: var(--background-gray);
}

section.khata-body {
  padding: var(--nav-height) 0;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
.input-group input {
  padding: 8px 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 2px solid var(--font-light-green);
  border-radius: 10px;
  transition-duration: 0.5s;
}
.input-group input:focus {
  outline: none;
  background: linear-gradient(
    0deg,
    rgba(0, 255, 0, 0.07),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: inset 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-color: var(--font-green);
}
.input-group label {
  transition-duration: 0.5s;
  color: var(--font-light-green);
}
.input-group input:focus ~ label {
  color: var(--font-green);
}

.button-red,
.button-blue {
  display: block;
  padding: 8px 15px;
  color: whitesmoke;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.button-red:hover,
.button-blue:hover {
  transform: scale(1.1);
  filter: brightness(1.1) contrast(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.button-red {
  background-color: rgb(160, 73, 73);
}
.button-blue {
  background-color: var(--background-green);
}
