.new-transaction {
  width: 100%;
}

.new-transaction > header {
  text-align: center;
  margin: 20px 0;
  font-size: var(--header-size);
  color: var(--cream);
}

.new-transaction > header span {
  color: var(--background-green);
}

.new-transaction-form {
  width: 30%;
  margin: 0 auto;
  margin-top: 2.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 15px;
  row-gap: 1.8em;
}

.new-transaction-form .input-group {
  width: 100%;
}

.new-transaction-form .input-group input {
  width: 100%;
  font-size: 1.1em;
}
.new-transaction-form input::placeholder,
.new-transaction-form input::-webkit-input-placeholder,
.new-transaction-form input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

.new-transaction-form .input-group label {
  font-size: 1.2em;
}

.new-transaction-form-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem 0;
}

.new-transaction-form-footer button {
  font-size: 1.4em;
}

.new-transaction-form-footer .spinner-border {
  position: relative;
  right: 0;
  bottom: 0;
  margin-top: 5px;
}
.new-transaction-form-footer .spinner-inner {
  border-top: 0.3em solid var(--font-green);
  border-right: 0.3em solid var(--font-green);
}

@media (max-width: 1200px) {
  .new-transaction-form {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .new-transaction-form {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .new-transaction-form {
    width: 95%;
    padding: 1.5em 2em;
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .new-transaction > header {
    font-size: 1.5em;
  }
}

@media (max-width: 375px) {
  .new-transaction-form {
    width: 100%;
    font-size: 0.8em;
  }
}
