.container {
  /*border:1px solid white;*/
  width: min(600px, 100%);
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}
.backbox {
  background-color: var(--dark-grey);
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  display: inline-flex;
}

.frontbox {
  background-color: var(--cream);
  border-radius: 20px;
  height: 100%;
  width: max(50%, 280px);
  z-index: 10;
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right 0.8s ease-in-out;
}

.moving {
  right: 45%;
}

.loginMsg,
.signupMsg {
  width: 50%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginMsg .title,
.signupMsg .title {
  font-weight: 300;
  font-size: 23px;
}

.loginMsg p,
.signupMsg p {
  font-weight: 100;
}

.textcontent {
  color: white;
  margin-top: 65px;
  margin-left: 12%;
}

.loginMsg button,
.signupMsg button {
  padding: 10px;
  margin-top: 20px;
  background-color: var(--background-grey);
  border: 2px solid var(--font-light-green);
  border-radius: 10px;
  color: var(--font-light-green);
  transition-duration: 0.5s;
  cursor: pointer;
}
.loginMsg button:hover,
.signupMsg button:hover {
  scale: 1.1;
  color: var(--font-green);
  border-color: var(--font-green);
  filter: contrast(0.8);
}

/* front box content*/
.login,
.signup {
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color: var(--background-green);
  font-size: 1.7em;
}

.inputbox {
  margin-top: 35px;
}
.input-group {
  position: relative;
}
.login input,
.signup input {
  display: block;
  width: 100%;
  border-color: var(--background-grey);
  margin-bottom: 20px;
  color: var(--background-grey);
  font-size: 1em;
}
.login input:focus,
.signup input:focus {
  border-color: var(--dark-grey);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.07),
    rgba(255, 255, 255, 0.1)
  );
}
.login .input-group > i,
.signup .input-group > i {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1em;
  z-index: 2;
  color: var(--background-grey);
  cursor: pointer;
}

.login button,
.signup button {
  background-color: var(--background-green);
  border: none;
  color: white;
  font-size: 0.8em;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.login button:hover,
.signup button:hover {
  scale: 1.05;
  filter: brightness(1.2) contrast(1.1);
}

/* Fade In & Out*/
.login p {
  cursor: pointer;
  color: var(--background-grey);
  filter: brightness(1.1);
  transition-duration: 0.3s;
}
.login p:hover {
  color: var(--dark-grey);
}

.loginMsg,
.signupMsg {
  /*opacity: 1;*/
  transition: opacity 0.8s ease-in-out;
}

.visibility {
  opacity: 0;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .backbox {
    display: none;
  }
  .frontbox {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 0.9rem;
    height: calc(100% - 30px);
  }
  .moving {
    right: 0;
  }
}
