.transaction-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 15px 15px 10px 10px;
  overflow: hidden;
}

.transaction-table thead {
  background-color: var(--background-green);
  color: var(--light-cream);
}

.transaction-table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.11);
}

.transaction-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.22);
}

.transaction-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.transaction-table th,
.transaction-table td {
  padding: 12px 15px;
}

.td-controls button,
.td-controls a {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 15px;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--light-cream);
  transition-duration: 0.2s;
}
.td-controls button:hover,
.td-controls a:hover {
  transform: scale(1.1);
}

.td-controls a {
  background-color: rgb(78, 154, 189);
}
.td-controls a:hover {
  filter: brightness(1.1) contrast(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.td-controls button {
  background-color: #b93b46;
}
.td-controls button:hover {
  filter: brightness(1.1) contrast(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
