.transaction-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 15px 15px 10px 10px;
  overflow: hidden;
}

.transaction-table thead {
  background-color: var(--background-green);
  color: var(--light-cream);
}

.transaction-table tbody tr.even {
  background-color: rgba(255, 255, 255, 0.11);
  overflow: hidden;
}

.transaction-table tbody tr.odd {
  background-color: rgba(255, 255, 255, 0.22);
  overflow: hidden;
}

/* Hover effect for table row. The cases are since two table rows correspond to same data in mobile view */

.transaction-table tbody tr.odd:hover,
.transaction-table tbody tr.even:hover,
.transaction-table tbody tr.odd:hover + tr.odd,
.transaction-table tbody tr.even:hover + tr.even,
.transaction-table tbody tr.odd:has(+ tr.odd:hover),
.transaction-table tbody tr.even:has(+ tr.even:hover) {
  background-color: rgba(255, 255, 255, 0.35);
}

.transaction-table tbody tr .downarrow {
  transition-duration: 0.2s;
}
.transaction-table tbody tr .downarrow.inverted {
  transform: rotate(180deg);
  transition-duration: 0.2s;
}

.transaction-table tbody tr.income-row {
  color: var(--font-green);
  filter: brightness(0.9) contrast(1.1);
}
.transaction-table tbody tr.odd.income-row {
  background-color: rgba(179, 255, 179, 0.33);
}
.transaction-table tbody tr.even.income-row {
  background-color: rgba(179, 255, 179, 0.22);
}
.transaction-table tbody tr.income-row.odd:hover,
.transaction-table tbody tr.income-row.even:hover,
.transaction-table tbody tr.income-row.income-row.odd:hover + tr.odd,
.transaction-table tbody tr.income-row.even:hover + tr.even,
.transaction-table tbody tr.income-row.odd:has(+ tr.odd:hover),
.transaction-table tbody tr.income-row.even:has(+ tr.even:hover) {
  background-color: rgba(161, 251, 161, 0.44);
}

.transaction-table th,
.transaction-table td {
  padding: 12px 15px;
}

.td-controls button,
.td-controls a {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 15px;
  margin: 0 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--light-cream);
  transition-duration: 0.2s;
}
.td-controls button:hover,
.td-controls a:hover {
  transform: scale(1.1);
}

.td-controls a {
  background-color: rgb(78, 154, 189);
}
.td-controls a:hover {
  filter: brightness(1.1) contrast(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.td-controls button {
  background-color: #b93b46;
}
.td-controls button:hover {
  filter: brightness(1.1) contrast(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

@media (min-width: 751px) {
  .smscr-only {
    display: none;
  }
  td.bigscr-only,
  th.bigscr-only {
    display: table-cell;
  }
}

@media (max-width: 750px) {
  th.smscr-only,
  td.smscr-only {
    display: table-cell;
  }
  tr.smscr-only {
    display: table-row;
  }
  .bigscr-only {
    display: none;
  }
}

@media (max-width: 650px) {
  .transaction-table {
    width: 85%;
    font-size: 0.9em;
  }
}

@media (max-width: 500px) {
  .transaction-table {
    width: 90%;
    font-size: 0.83em;
  }
  .td-controls button,
  .td-controls a {
    font-size: 1em;
    padding: 0 10px;
  }
}

@media (max-width: 350px) {
  .transaction-table {
    width: 95%;
    font-size: 0.7em;
  }
}
